<div style="margin-top: -105px;">

<div class="row justify-content-md-center text-center">
   
     <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
          <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
         <p>Trabajo del desarrollo de apis en Node Js</p>
          <p class="text-primary cabecera">
              Stack:
         </p>
         <p>
             ASP.NET, REACT JS, REACT NATIVE
         </p>

          <p class="text-primary cabecera">
              Experiencia:
         </p>
         <ul>
             <li>Web Api</li>
              <li>Node Js</li>
               <li>Base de datos no relacionales</li>
                <li>React Js</li>
         </ul>
    </div>
      <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0 ; box-shadow:0 5px 5px 0 gray">
          <i class="bi-code-slash"></i>
        <h3>Front-end</h3>
        <p>Puedo crear front-end robustos</p>
          <p class="text-primary cabecera">
              Stack:
         </p>
         <p>
             React Js, Blazor, React native
         </p>

          <p class="text-primary cabecera">
              Experiencia:
         </p>
         <ul>
             <li></li>
              <li>Node Js</li>
               <li>Base de datos no relacionales</li>
                <li>React Js</li>
         </ul>
    </div>
</div>
</div>