@model IEnumerable<Proyecto>

@if( Model is not null){


 <div class="container">
        <div class="row class-row-cols-1 row-col-md-3 g-4">
            @foreach (var proyecto in Model)
            {
                <div class="col">
                    <div class="card-h-100">
                        <img src="@proyecto.ImagenUrl" class="card-img-top" alt="imagenes proyecto"/>
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text"> @proyecto.Descripcion</p>     
                        </div>
                         <div class="card-footer">
                             <a class="btn btn-primary" href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Visitar</a>    
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}