<div class="text-center">
   
    <h1>Soy Diego Garcia Fonseca</h1>
    <h2> Soy un desarrolador full stack en tecnologias .Net y Javascript.</h2>

    <img id="foto"
     src="~/imagenes/foto.png" alt="Foto de Felipe"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1> Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software en javascript, especificamente Node Js Backend, React Js conmo Frontend y en la 
            parte movil he utilizado React-Native
        </p>
    </div>
</div>