@{
    ViewData["Title"] = "Contacto";
}

<h1>Formulario de Contacto</h1>

<form asp-controller="Home" asp-action="Contacto" >
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre persona">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="correo@correo.com">
    </div>

    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje"
            rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>