@{
    ViewData["title"] = "Gracias";
}

<h1>Gracias por ponerse en contacto conmigo</h1>

<p>Te contestare el mensaje lo mas pronto posible</p>

<div>
    <a asp-controller="Home" asp-action="Index">Volver al home</a>
</div>