﻿@model HomeIndexViewModel
@{
   
    ViewData["Title"] = "Pagina Principal";
}

<partial name="_Presentacion" />

<partial name="_Habilidades"/>

<partial name="_SeccionProyectos" model="Model.Proyectos" />