﻿@model Persona
@{
   
    ViewData["Title"] = "Pagina Principal";

    string ConvertirEnMayuscula(string valor)
    {
        return valor.ToUpper() ;
    }

    DateTime hoy = DateTime.Now;
    var nombres = new List<string>() {"Felipe", "Claudia", "Roberto"};
}

<div class="text-center">
    <ul>
    @foreach (var nombre in nombres)
    {
        <li>@nombre</li>
    }
    </ul>
    <h1 class="display-4">Soy @ConvertirEnMayuscula( Model.Nombre) (@Model.Edad)</h1>
    <h4>@hoy.ToString("dd/mm/yyyy hh:mm:ss tt")</h4>
    @if(Model.Edad >= 18){
        <h4>Eres mayor de edad! Puedes entrar <button>Entrar</button></h4>
    }else{
        <h4>Eres menor de edad! Largate <button>Entrar</button></h4>
    }

    <h2> Soy un desarrolador full stack en tecnologias .Net y Javascript.</h2>

    <img id="foto"
     src="~/imagenes/foto.png" alt="Foto de Felipe"/>
</div>
